In [4]:
import pandas as pd
import numpy as np
import re
import os

In [5]:
course_grades_s19 = open("../data/course_grade_metrics.txt").read()

In [6]:
course_grades_s19_list = course_grades_s19.split("\n")

In [7]:
course_code_pattern = re.compile("[A-Z]{4}\\s[0-9]{3}\\b")

In [8]:
avg_list = []
sd_list = []
min_list = []
max_list = []
course_code_set = set(["ACAM 204"])

for i in range(len(course_grades_s19_list)):
    if course_grades_s19_list[i] == "Avg. %":
        a = course_grades_s19_list[i+2:i+44]
        a.append(course_grades_s19_list[i+43])
        avg_list.append(a)
    elif course_grades_s19_list[i] == "Std. dev.":
        a = course_grades_s19_list[i+2:i+44]
        sd_list.append(a)
    elif course_grades_s19_list[i] == "Min. %":
        a = course_grades_s19_list[i+2:i+44]
        min_list.append(a)
    elif course_grades_s19_list[i] == "Max. %":
        a = course_grades_s19_list[i+2:i+44]
        max_list.append(a)
    elif course_code_pattern.match(course_grades_s19_list[i]):
        course_code_set.add(course_grades_s19_list[i][0:8])

In [9]:
average_grades = np.array(avg_list).flatten()[:603]
standard_dev_grades = np.array(sd_list).flatten()[:603]
min_grades = np.array(sd_list).flatten()[:603]
max_grades = np.array(max_list).flatten()[:603]
min_grades = np.array(min_list).flatten()[:603]

In [10]:
course_grades_ubc_df = pd.DataFrame({"Average" : average_grades,
              "Standard Deviation" : standard_dev_grades,
              "min": min_grades, 
              "max": max_grades},
             index = course_code_set)

In [11]:
course_grades_ubc_df.index.names = ["Course code"]

In [12]:
course_grades_ubc_df

            Average Standard Deviation   min    max
Course code
CHIN 485       86.7                3.2  81.0   91.0
SOCI 382       84.0                7.8  67.0   97.0
COMM 393       84.9                6.2  57.0   93.0
ETEC 500       84.3                6.5  64.0   94.0
MATH 316       90.0                5.3  75.0   98.0
...             ...                ...   ...    ...
MRNE 402       86.3               13.3   0.0   90.0
VANT 140       89.1               15.2   0.0  100.0
BUSI 455       88.9               11.1  38.0   92.0
POLI 100       88.9               13.3   0.0   98.0
ENGL 348       70.4                4.1  82.0   95.0

[603 rows x 4 columns]

In [13]:
#course_grades_ubc_df.to_csv("data/course_grades_ubc_data_frame.csv")