In [4]:
import pandas as pd
import numpy as np
import re
import os

In [14]:
course_grades_s19 = open("../data/course_grade_metrics_2018W.txt").read()

In [15]:
course_grades_s19_list = course_grades_s19.split("\n")

In [16]:
course_code_pattern = re.compile("[A-Z]{4}\\s[0-9]{3}\\b")

In [17]:
avg_list = []
sd_list = []
min_list = []
max_list = []
course_code_set = set(["ACAM 204"])

for i in range(len(course_grades_s19_list)):
    if course_grades_s19_list[i] == "Avg. %":
        a = course_grades_s19_list[i+2:i+44]
        a.append(course_grades_s19_list[i+43])
        avg_list.append(a)
    elif course_grades_s19_list[i] == "Std. dev.":
        a = course_grades_s19_list[i+2:i+44]
        sd_list.append(a)
    elif course_grades_s19_list[i] == "Min. %":
        a = course_grades_s19_list[i+2:i+44]
        min_list.append(a)
    elif course_grades_s19_list[i] == "Max. %":
        a = course_grades_s19_list[i+2:i+44]
        max_list.append(a)
    elif course_code_pattern.match(course_grades_s19_list[i]):
        course_code_set.add(course_grades_s19_list[i][0:8])

In [20]:
average_grades = np.array(avg_list).flatten()[:3782]
standard_dev_grades = np.array(sd_list).flatten()[:3782]
min_grades = np.array(sd_list).flatten()[:3782]
max_grades = np.array(max_list).flatten()[:3782]
min_grades = np.array(min_list).flatten()[:3782]

In [21]:
course_grades_ubc_df = pd.DataFrame({"Average" : average_grades,
              "Standard Deviation" : standard_dev_grades,
              "min": min_grades, 
              "max": max_grades},
             index = course_code_set)

In [22]:
course_grades_ubc_df.index.names = ["Course code"]

In [25]:
course_grades_ubc_df

            Average Standard Deviation min  max
Course code
POLI 350         88                  4  82   94
PHAR 420         75                 20   0  100
ANAT 548         72                 13   0  100
VISA 321         80                  6  50   90
GEOB 402         82                 11  26   95
...             ...                ...  ..  ...
GEOB 405         70                  6  64   90
ANTH 449         85                  4  64   85
MATH 344         86
POLI 100         76                  6  51   90
HIST 378         77                 16   7  100

[3782 rows x 4 columns]

In [30]:
course_grades_ubc_df.to_csv("../data/course_grades_ubc_data_frame_2018W.csv")

In [29]:
os.getcwd()

'/Users/robertblumberg/Documents/ML_Projects/LA_Hackathon/LearningAnalyticsHackathon/src'